@model WeatherApp.Models.WeatherData

@{
    ViewData["Title"] = "WeatherData";
}

<h1>WeatherData</h1>
<p>Temperature: @Model.Temperature C</p>
<p>Humidity: @Model.Humidity%</p>
<p>Time Recorded: @Model.TimeRecorded</p>